<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">
				NHibernate.Connection.DriverConnectionProvider
			</property>
			<property name="dialect">
				NHibernate.Dialect.MsSql2012Dialect
			</property>
			<property name="connection.driver_class">
				NHibernate.Driver.SqlClientDriver
			</property>
			<property name="connection.connection_string">
				Data Source=.\SQLEXPRESS;Integrated Security=True; initial catalog=TesteNHibernate
			</property>
		</session-factory>
	</hibernate-configuration>
</configuration>